<div class="login-area">
    <div class="login-container">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" formControlName="email">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" formControlName="password">
          <div *ngIf="incorrectCredentials">
            Incorrect credentials!
          </div>
        </div>
        <div class="login-btn">
          <button type="submit" [disabled]="(loginForm.invalid) || isLoggedIn()">LOGIN</button>
        </div>
        <div class="login-question">Don't have an account? <a [routerLink]="'/register'">Register here!</a></div>
      </form>
    </div>
</div>
  