.book-view-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
    margin-top: 75px;
  }
  
  .book-image {
    width: 30%;
    margin-right: 20px;
  }
  
  .book-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .rating {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .book-details {
    width: 70%;
  }
  
  .book-details h2 {
    margin-top: 0;
  }
  
  .book-details p {
    margin: 10px 0;
  }
  